<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Patriot Map</title>
        <!--this is the code for the leaflet map-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
                               integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
                               crossorigin=""/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
                integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
                crossorigin=""></script>
        <style>
#map{
    height: 100vh;
    width: auto;
}
        </style>
    </head>
    
    <body>
        <!--Code for banner-->
        <div class="d-flex bd-highlight mb-1 bg-success text-white">
            <div class="me-auto p-2 bd-highlight">
                <h1>Patriot Map</h1>
            </div>
            <div class="p-2 bd-highlight">
                <h4><a class="nav-link text-white" href="userAccount.html">My account <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg></a></h4>
            </div>
            <div class="p-2 bd-highlight">
                <h4><a class="nav-link text-white" href="settings.html">Settings <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16"><path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/></svg></a></h4>
            </div>
            <div class="p-2 bd-highlight">
                <h4><a class="nav-link text-white" href="patriotSchedule.html">Manage Schedule <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week-fill" viewBox="0 0 16 16"><path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM9.5 7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm3 0h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zM2 10.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"/></svg></a></h4>
            </div>
            <div class="p-2 bd-highlight">
                <h4><a class="nav-link text-white" href="news.html">Mason News <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16"><path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/><path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/></svg></a></h4>
            </div>
            <div class="p-2 bd-highlight">
                <h4><a class="nav-link text-white" href="index.html">My Map <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass-fill" viewBox="0 0 16 16"><path d="M15.5 8.516a7.5 7.5 0 1 1-9.462-7.24A1 1 0 0 1 7 0h2a1 1 0 0 1 .962 1.276 7.503 7.503 0 0 1 5.538 7.24zm-3.61-3.905L6.94 7.439 4.11 12.39l4.95-2.828 2.828-4.95z"/></svg></a></h4>
            </div>
        </div>
        
	<!-- Main meat of the page -->
	<div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <!-- sidebar schedule, still working on proper bordering-->
                    <ul id="schedule section" class="nav flex-column">
                        <li class="border-right border-success">
                            <span class = "centerContent"><h2 class="text-center">Date goes here</h2></span>
                        </li>
                        <li class="nav-item"> 
				            <div class="row-2 text-success"><h3 class="text-center">Class 1</h3></div>
			            </li>
                        <li class="nav-item">
                            <div class="row-2 text-primary"><h3 class="text-center">Class 2</h3></div>
                        </li>
                        <li class="nav-item">
                            <div class="row-2 text-danger"><h3 class="text-center">Class 3</h3></div>
                        </li>
                        <li class="nav-item">
                            <div class="row-2 text-secondary"><h3 class="text-center">Class 4</h3></div>
                        </li>
                        <li class="nav-item">
                            <div class="row-2 text-info"><h3 class="text-center">Class 5</h3></div>
                        </li>
                    </ul>
                </div>
                <div class="col-10">
                    <div id="map">
                        <!--creates a map object and a marker, the location has been set to GMU, and the marker to the johnson center by default-->
                        <script>
                            const map = L.map('map').setView([38.8315, -77.3117], 16);
                            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                                            maxZoom: 19,
                                                            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                                                        }).addTo(map);
                            L.marker([38.8301, -77.3078]).addTo(map);
                        </script>
                    </div>
                </div>
            </div>
        </div>
	
    </body>
</html>
